<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/index.css'>
    <title>Login</title>
</head>
<body>
    <div class="login-form">
        <h1>Advising Log in System</h1>
        <form action="/login" method="POST">
            <p>Email</p>
            <input type="email" name="email" placeholder="Email">
            <p>Password</p>
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>