<!DOCTYPE HTML>
<html>
  <head>
    <title> Admin Home </title> 
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css')}}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img src="https://purepng.com/public/uploads/large/purepng.com-pancakepancakehotcakegriddlecakeflapjack-1411528393734pc1df.png" height = "28"> 
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/studentInfo">Account Info</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/courseCatalog">Course Catalog</a>
          <a class="dropdown-item" href="/adminCourseSchedule">Modify Semester</a>
          <a class="dropdown-item" href="/userCreation">Create New Users</a>
          <a class="dropdown-item" href="/listStudents">Student Transcripts</a>
        </div>
      </li>
    </ul>
    <ul class = "navbar-nav ml-auto">
      <li class = "nav-item">
        <a class = "nav-link" href = "/logout"> Logout </a>
      </li>
    </ul>
  </div>
</nav>


<div class="container-fluid">
  <div class="px-lg-5">


    <div class="row py-5">
      <div class="col-lg-12 mx-auto">
        <div class="text-dark p-5 shadow-sm rounded banner bg-white">
          <h1 class="display-4">Village Inn University</h1>
          <p class="lead">Welcome Back, {{name['fname']}} {{name['lname']}}</p>
          <p class="lead">University ID: {{UID}}</p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="static/hamburger.png" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="/courseCatalog" class="text-dark">Course Catalog</a></h5>
            <p class="small text-muted mb-0">View all of the courses within the VIU course catalog.</p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="static/arrow.png" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="/adminCourseSchedule" class="text-dark">Modify Semester</a></h5>
            <p class="small text-muted mb-0">Change the semester, reseting all of the courses to a new semester.</p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src ="static/gear.png" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="/userCreation" class="text-dark">Create New User</a></h5>
            <p class="small text-muted mb-0">Create a new user within the VIU database system.</p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="static/account.png" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="/listStudents" class="text-dark">Student Transcripts</a></h5>
            <p class="small text-muted mb-0">View and edit all of the student transcripts at VIU.</p>
          </div>
        </div>
      </div>

    </div>
  </div> 
  </body>
</html>