<head>
        <title>Status Page</title>
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css')}}"/>
    </head>

    <header>
            <div class = "site-logo">
                <h1>Village Inn University</h1>
            </div>
    </header>
        
    <div class = "topnav">
            <a href = "/"> Go Home </a>
            <a href = "/studentInfo"> Account Information </a>
            <a href = "/logout"> Logout </a>
    </div>

    <body>

        <p style = "font-size:25px">{{message}}<p> 
        <a href = "listStudents" class = "submitLogin"> Return to Grades </a>

    </body>
</html>