<DOCTYPE html>
  <html>
      <head>
        <title>View Students </title>
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css')}}"/>
      </head>
          <body>

        
                <header>
                <div class = "site-logo">
                    <h1>Village Inn University</h1>
                </div>
                </header>

                <div class = "topnav">
                <a href = "/"> Go Home </a>
                <a href = "/studentInfo"> Account Information </a>
                <a href = "/logout"> Logout </a>
                </div>

                <br>

              <table class = "tablecenter" cellpadding = "10" cellspacing = "5">
          <tbody>
              <tr>
                  <th>Student First Name </th>
                  <th>Student Last Name</th>
                  <th>University ID</th>
                  <th>Program</th>
                  <th>Edit Grades</th>
              </tr>
              <tr>
                  {% for student in students %}
                  <form method = 'POST' action = /editTranscript>
                    <input type = "hidden" name = "student" value = "{{student.UID}}"/>
                      <td>{{student.fname}}</td>
                      <td>{{student.lname}} </td>
                      <td>{{student.UID}} </td>
                      <td>{{student.program}} </td>
                      <td><button type="submit" class ="submitLogin">Edit Grades</button></td>
                  </form>
              </tr>
                  {%endfor%}
          </tbody>
          </table>
          </body>
  </html>